body {
    --ligtWhiteGrayBg: #f3f3f3;
    --grayText: #aaa;
    --darkGreen: #00483D;
    --darkGreenBorder: 1px solid #00483D;
    --lightGreen: #009981;
    --lightGreenBorder: 1px solid #009981;
    --lightGray: #EBEBEB;
    --lightGrayBorder: 1px solid #EBEBEB;
    --fontFamily: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
    --blackText: #4B4B4B;
    --redText: #FD475A;
    --orangeText: #FC521D;
    --white:#fff;
}
body {
    background: var(--ligtWhiteGrayBg);
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    color: #333;
}

